<!-- 
 Copyright (c) 2021 IBM Corporation and others

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<server>
  <featureManager>
    <feature>jaxrs-2.1</feature>
    <feature>cdi-2.0</feature>
    <feature>jpa-2.2</feature>
    <feature>jdbc-4.3</feature>
    <feature>jsf-2.3</feature>
    <feature>mpHealth-3.0</feature>
  </featureManager>

   <include optional="true" location="${server.config.dir}/postgresql-ds.xml"/>
	<!--  <include optional="true" location="${server.config.dir}/mysql-ds.xml"/> -->
	
  <httpEndpoint host="*" httpPort="${default.http.port}"
        httpsPort="${default.https.port}" id="defaultHttpEndpoint"/>   
   <webApplication location="${project.name}.war" contextRoot="/"/>
</server>
